.h1{
  background-color: rgb(21, 23, 190);
  margin: 0;
  font: rgb(233, 84, 84);
  width: 100%;
}
.form{
  align-items: center;
  /* background-color: rgb(60, 63, 62); */
  margin-top: 11.5vh;
  height:80vh;
  padding: 0vh;
}
.data{
background-color: rgb(185, 167, 167);
align-items: center;
align-content: center;
padding: 10vh;
border-radius: 20px;
margin-left: 20vw;
margin-right: 20vw;
padding-top: 20vh;
padding-bottom: 20vh;
}
.input[type="text"]{
  align-items: center;
  background-color: rgb(223, 226, 241);
  padding: 7px;
  font-size: 20px;
  width: 30vw;
  border-radius: 10px;
  margin-left: 10vw;
}

.btn{
padding: 10px;
width: 31.5vw;
border-radius: 10px;
margin-top: 8px;
margin-left: 10vw;
background-color: rgb(60, 82, 204);
font-weight: 700;
font-size: 15px;
}
.btn:hover{
  background-color: aqua;
  cursor: pointer;
}